---
interface Props {
  cols?: string;
  rows?: string;
  image: string;
  name: string;
  title: string;
  highlight: string;
  details: string;
  background: string;
  textColor: string;
  quote: boolean;
}

const { image, name, title, highlight, details, background, textColor, cols, rows } = Astro.props;
---

<div class={`flex flex-col gap-2 ${background} ${textColor} p-8 rounded-lg ${cols} ${rows}`}>
  <div class='flex gap-4'>
    <img
      class='rounded-full border-2 border-white border-opacity-40 w-8'
      src={`/assets/images/image-${image}.jpg`}
      alt={name}
    />
    <div class='flex flex-col justify-center'>
      <span class='leading-none'>{name}</span>
      <span class={`${textColor} text-opacity-50 text-xs leading-none`}>{title}</span>
    </div>
  </div>
  <p class='font-semibold text-lg tracking-wide leading-snug'>{highlight}</p>
  <p class={`${textColor} text-opacity-70`}>{details}</p>
</div>
